.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  .dot-falling-black {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black;
    color: black;
    box-shadow: 9999px 0 0 0 black;
    animation: dotFallingBlack 1s infinite linear;
    animation-delay: 0.1s;
  }

  .dot-falling-black::before,
  .dot-falling-black::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }

  .dot-falling-black::before {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: -10px;
    background-color: black;
    color: black;
    animation: dotFallingBlackBefore 1s infinite linear;
    animation-delay: 0s;
  }

  .dot-falling-black::after {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: black;
    color: black;
    animation: dotFallingBlackAfter 1s infinite linear;
    animation-delay: 0.2s;
  }
}

@keyframes dotFallingBlack {
  0% {
    box-shadow: 9999px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 9999px 0 0 0 black;
  }
  100% {
    box-shadow: 9999px 15px 0 0 rgba(152, 128, 255, 0);
  }
}

@keyframes dotFallingBlackBefore {
  0% {
    box-shadow: 9984px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 9984px 0 0 0 black;
  }
  100% {
    box-shadow: 9984px 15px 0 0 rgba(152, 128, 255, 0);
  }
}

@keyframes dotFallingBlackAfter {
  0% {
    box-shadow: 10014px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 10014px 0 0 0 black;
  }
  100% {
    box-shadow: 10014px 15px 0 0 rgba(152, 128, 255, 0);
  }
}
