body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  i[class^="fi-"] {
    display: inline-block;
    transform: translateY(8%);
  }
}

form {
  input[type="text"],
  input[type="password"] {
    width: calc(100% - 20px);
    border: none;
    outline: none;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    color: black;
    background: rgba(0, 0, 0, 0.11);
    border-radius: 99px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.32);
    &::placeholder {
      color: gray;
    }
  }
}
