body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

body i[class^="fi-"] {
  display: inline-block;
  -webkit-transform: translateY(8%);
          transform: translateY(8%);
}
